<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etec
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Etec</ion-title>
    </ion-toolbar>
  </ion-header>
   
  <!--  -->
  <ion-row class="ion-justify-content-center">
   <ion-col size="6">
    <ion-segment value="desenvolvimento_sistemas">
      <ion-segment-button value="desenvolvimento_sistemas">
        <ion-label>Desenvolvimento de Sistemas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="informatica_internet">
        <ion-label>Informatica para Internet</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-col>
  </ion-row>
    
  <ion-row class="ion-justify-content-center">

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&w=1600" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>Ionic & Bootstrap</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg?auto=compress&cs=tinysrgb&w=1600" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>HTML & CSS</ion-card-subtitle>
        </ion-card-header>          
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1600" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>Síncrono & Assíncrono</ion-card-subtitle>
        </ion-card-header>          
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&w=1600" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>Ionic & Bootstrap</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg?auto=compress&cs=tinysrgb&w=1600" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>HTML & CSS</ion-card-subtitle>
        </ion-card-header>          
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1600" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>Síncrono & Assíncrono</ion-card-subtitle>
        </ion-card-header>          
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row class="ion-justify-content-center">

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/270348/pexels-photo-270348.jpeg?auto=compress&cs=tinysrgb&w=1600" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>Ionic & Bootstrap</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg?auto=compress&cs=tinysrgb&w=1600" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>HTML & CSS</ion-card-subtitle>
        </ion-card-header>          
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="4">
      <ion-card>
        <img alt="Silhouette of mountains" src="https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1600" />
        <ion-card-header>
          <ion-card-title>Programação Mobile</ion-card-title>
          <ion-card-subtitle>Síncrono & Assíncrono</ion-card-subtitle>
        </ion-card-header>          
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>
