ion-content{
    --background: rgb(32,116,122);
    --background: linear-gradient(90deg, rgba(32,116,122,1) 25%, rgba(0,255,218,1) 100%);
}

.full-height{
    height: 100vh;
    overflow: hidden; // Para n ter barra de rolagem(scrool)
    display: flex; 
    align-items: center; // Para alinhar ao centro verticalmente
    justify-content: center; // Para alinhar ao centro horizontalmente
}