<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>

      <ion-col size="4">
        <div class="imagem">
          <img [src]="perfil.foto_perfil" alt="">
        </div>
      </ion-col>

      <ion-col size="8">
        <div class="teste">
          <h2>{{perfil.nome}}</h2>
          <p>{{perfil.profissao}}</p>

          <div class="botoes">
            <div class="btn">
              <button>Seguir</button>
            </div>

            <div class="btn">
              <button>Mensagem</button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="4">
        <div>
          <strong>{{metricas_sociais.curtidas}}</strong>
          <p>Curtidas</p>
        </div>
      </ion-col>

      <ion-col size="4">
        <div>
          <strong>{{metricas_sociais.curtidas}}</strong>
          <p>Curtidas</p>
        </div>
      </ion-col>

      <ion-col size="4">
        <div>
          <strong>{{metricas_sociais.curtidas}}</strong>
          <p>Curtidas</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <div>
        <h2>Sobre</h2>
        <p>Pessoa inteligente e extrovertida, gosta de jogar de minecraft e CSGO, estudar programação nas horas vagas.</p>
      </div>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <div class="postagem">
        <h2>Postagens de Amigos</h2>
      </div>
      <ion-row>
        <ion-col *ngFor="let postagem of postagens" size="12">
          <img [src]="postagem.perfil.foto" alt="">
          <strong>{{postagem.perfil.nome}}</strong>
          <strong>{{postagem.perfil.mencao_perfil}}</strong>
          <strong>{{postagem.postagem.mensagem}}</strong>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>

</ion-content>